// Colors
$white: #ffffff;
$black: #000000;

// Border Radius
$borderRadius: 2px;

// Media queries
$mobileWidth: 400px;
$phabletWidth: 550px;
$tabletWidth: 750px;
$desktopWidth: 1000px;
$largeDesktopWidth: 1200px;
